@-webkit-keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@-webkit-keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -400px;
    opacity: 0;
  }
}
@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -400px;
    opacity: 0;
  }
}

body{
  position: absolute;
  width: 100%;
  background: #2F1E4A;

}

L{
  position: absolute;
  left: 29.5%;
  top: 44%;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 144px;
  color: #FFFFFF;
}

Lu{
  position: absolute;
  left: 52%;
  top: 45%;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 144px;
  color: #FFFFFF;
}

e{
  position: absolute;
  left: 46.2%;
  top: 50%;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 72px;
  color: #AB74E2;

}

header{
  position: fixed;
  z-index: 10;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 85%;

  background: #2F1E4A;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.5);
}

header a{
  top: 30%;
      
  font-family: 'Poppins';
  font-style: bold;
  font-weight: 1000;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  display: inline-block;
  color: rgb(255, 255, 255);
  overflow: hidden;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0) 50%, rgb(255, 255, 255) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}

.nav :hover {
  background-position: 0 100%;
}

header img{
  border-radius: 250px; 
  box-sizing: border-box;  
  position: absolute;  
  width: 70px;  
  height: 70px; 
  left: 13%;  
  top: 15%;  
  border: 1px solid #FFFFFF
}

.Lara{
  position: absolute;
  top: 100%;
  width: 97%;
  height: 40%;
  margin-left: 1.5%;

  background: #5A3A79;
  border-radius: 75px;
}

.rt1{
  position: absolute;
  left: 39.04%;
  right: 7.21%;
  top: 7.98%;
  bottom: 19.12%;

  background: #FFFFFF;
  border-radius: 17px;
}
.sombra1{
  position: absolute;
  left: 41.73%;
  right: 4.53%;
  top: 18.91%;
  bottom: 8.19%;
  width: 53%;

  background: #46206B;
  border-radius: 17px;
}

.Luana{
  position: absolute;
  top: 142%;
  width: 97%;
  height: 40%;
  margin-left: 1.5%;

  background: #5A3A79;
  border-radius: 75px;
}
  

.rt2{
  position: absolute;
  left: 39.04%;
  right: 7.21%;
  top: 7.98%;
  bottom: 19.12%;

  background: #FFFFFF;
  border-radius: 17px;
}

.sombra2{
  position: absolute;
  left: 41.73%;
  right: 4.53%;
  top: 18.91%;
  bottom: 8.19%;
  width: 53%;

  background: #46206B;
  border-radius: 17px;
}

.Lainfo{
  position: absolute;
  left: 14.80%;
  top: 80%;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fdfdfd;
}

.Luinfo{
  position: absolute;
  left: 14%;
  top: 80%;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px; 
  color: #fdfdfd;
}

.rds{
  position: absolute;
  top: 184%;
  left: 8%;
  width: 85%;
  height: 10%;

  background: #392061 ;
  border-radius: 10px;
}

.rds a{
  text-decoration: none;
  color: #FFFFFF;
}







.Robotica{
  position: absolute;
  top: 302%;
  width: 44%;
  height: 40%;
  margin-left: 1%;

  background: #530080;
  border-radius: 75px;
}






.Roboticainfo button{
  position: absolute;
  top: 302%;
  left: 45%;
  width: 54%;
  height: 40%;
  border: 2px solid #530080;
  background: #0f0a29;
  border-radius: 75px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 30px;
  color: #fdfdfd;
}


#mouse {
display: block;
width: 22px;
height: 40px;
border-radius: 20px;
border: 4px solid #8844EE;
text-align: center;
position: fixed;
left: 0px;
right: 0px;
bottom: 20px;
margin: 0 auto;
}

#mouse::before {
content: '';
display: inline-block;
width: 4px;
height: 8px;
position: relative;
border-radius: 4px;
background: #8844EE;
animation-name: mouse;
  animation-duration: .5s;
animation-iteration-count: infinite;
}

@keyframes mouse {
from {
  top: 0px;
}
to {
  top: 4px;
}
}

footer{
  top: 360%;
  height: 40%;
  width: 100%;
  position: absolute;
  background-color: #0f0a29;
}

footer t{
  position: absolute;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #fdfdfd; text-decoration: none;
}

.fotinfo{
  width: 100%;
  height: 100%;
  position: absolute;

}

#contact .img{

  width: 26%;
  top: 23%;
  height: 60%;
  position: absolute;
  left: 66%;
}

.ftresq{
  top: 35%;
  position: absolute;
  left: 15%;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
  color: #fdfdfd; 
  text-decoration: none;
  text-align: left;
}

.ftrcent {
  width: 26%;
  top: 10%;
  height: 90%;
  position: absolute;
  left: 50%;

}

.ftrcent a{
  position: absolute;
  left: 0%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  color: #FFFFFF;
}

.ftrdir{

  width: 26%;
  top: 10%;
  height: 90%;
  position: absolute;
  left: 74%;
}

.ftrdir a{
  
  position: absolute;
  left: 0%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #FFFFFF;
}

.projetos a{
  position: absolute;
  top: 45%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #fdfdfd; 
  text-decoration: none;
}

.projetos t{
  position: absolute;
  top: 45%;      
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 30px;
  color: #fdfdfd;
}





.robotdiv{
  display: none;
  position: absolute;
  top: 343%;
  right: 0.1%;
  width: 100%;
  height: 75%;
  border: 2px solid #530080;
  background: #0f0a29;
  border-radius: 75px;
  z-index: 1;
}

body::-webkit-scrollbar {
  width: 0px;               /* width of the entire scrollbar */
}
